.popup {
  margin: 0;
  position: fixed;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  min-height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  transition: visibility .33s linear, opacity .33s linear;
  visibility: hidden;
  opacity: 0;
  display: flex;
  cursor: pointer;
}


